<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="net.sf.eclipsefp.haskell.core.launch.HaskellLaunchDelegate">
<stringAttribute key="ARGUMENTS" value="--interactive &quot;C:\Users\Vitor\workspace\Casa\src\Casa.hs&quot;"/>
<stringAttribute key="EXECUTABLE" value="C:\Program Files\EclipseGavab 2.0\ghc-6.8.1\bin\ghc.exe"/>
<stringAttribute key="FIRST_SELECTED_RESOURCE" value="Casa.hs"/>
<stringAttribute key="PROJECT_NAME" value="Casa"/>
<stringAttribute key="WORKING_DIRECTORY" value="C:\Users\Vitor\workspace\Casa"/>
</launchConfiguration>
