<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CorteMaximoGrafo/src/CorteMaximoGraspPerfeito.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="CorteMaximoGraspPerfeito"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="ati:1 &quot;ati:1 &quot;C:\Users\Vitor\Dropbox\UFRN2011.2\AA\Trabalho Corte Máximo\Conteúdo_CD_Heurística\testes_leves\g150.n&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CorteMaximoGrafo"/>
</launchConfiguration>
