<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CorteMaximoGrafo/src/CorteMaximo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="CorteMaximo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="adti &quot;C:\Users\Vitor\Dropbox\UFRN2011.2\AA\Trabalho Corte Máximo\Conteúdo CD\testes\g10.n&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CorteMaximoGrafo"/>
</launchConfiguration>
