<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="net.sf.eclipsefp.haskell.debug.core.internal.launch.HaskellLaunchDelegate">
<stringAttribute key="ARGUMENTS" value="--interactive -i&quot;C:\Users\Vitor\workspace\Cas\src&quot; &quot;C:\Users\Vitor\workspace\Cas\src\Main.hs&quot;"/>
<stringAttribute key="DELEGATE" value="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ghci.GhciLaunchOperationDelegate"/>
<stringAttribute key="EXECUTABLE" value="ghc.exe"/>
<listAttribute key="FILES">
<listEntry value="src/Main.hs"/>
</listAttribute>
<stringAttribute key="FIRST_SELECTED_RESOURCE" value="Main.hs"/>
<stringAttribute key="PROJECT_NAME" value="Cas"/>
<stringAttribute key="RELOAD_COMMAND" value=":r"/>
<stringAttribute key="WORKING_DIRECTORY" value="C:\Users\Vitor\workspace\Cas"/>
</launchConfiguration>
