@CHARSET "UTF-8";

body 
{
	background-color:#d0e4fe;
}
h1 {
	color:orange;
	text-align:center;
	background-color:#6495ed;
}
p {
	font-family:"Times New Roman";
	font-size:20px;
	color:red;
	text-align:center;
	background-color:#e0ffff;
}
table {
	text-align:center;	
}