<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Translate File to SMT"
            visible="true"
            id="NovoTeste.actionSet">
         <menu
               label="Rodin to SMT"
               id="Rodin">
         </menu>
         <action
               class="pluginactions.AcaoSimples"
               icon="icons/sample.gif"
               id="pluginactions.AcaoSimples"
               label="&amp;Sample Action"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Translate POs in SMT-LIB Format">
         </action>
      </actionSet>
   </extension>

</plugin>
