<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <!--CONNECTION STRINGS
        The connection string defined below is the the default connection string used by the
        ASP.NET Providers (Membership, Role, Profile).  See the ASP.NET PROVIDER section below.
        The BlackfishSQL RemoteClient provider will work best for development since it will
        support connections from multiple processes.  This allows the ASP.NET
        configuration manager and the web application to be running at the same time.
        For deployment, the BlackfishSQL LocalClient may be used to allow for zero configuration
        deployment option.  To deploy locally, comment out the first connection string, and
        uncomment the second.

        The |DataDirectory| macro refers to \app_data off of the main directory for the application.
    -->
    <connectionStrings>
        <remove name="BlackfishSqlAspNet"/>
        <!-- Remote ConnectionString : Use the string below for connecting
             to the provider using the Remote client -->

        <add name="BlackfishSqlAspNet"
             connectionString="database=|DataDirectory|bsql_aspnetdb.jds;protocol=TCP;host=localhost;user=SYSDBA;password=masterkey;create=true"
             providerName="Borland.Data.BlackfishSQL.RemoteClient"/>

        <!-- Local ConnectionString : Use the string below for connecting
             to the provider using the local client -->
        <!-- <add name="BlackfishSqlAspNet"
                  connectionString="database=|DataDirectory|bsql_aspnetdb.jds;user=SYSDBA;password=masterkey;create=true"
                  providerName="Borland.Data.BlackfishSQL.LocalClient"/> -->
    </connectionStrings>

    <system.data>
       <!-- ADDING THE DATA PROVIDER TO THE HOSTING SERVICE
            The following tag will install the Blackfish Data Provider on the hosting service.
            The <remove> tag is present to ensure that the application will work at design-time and
            on your local machine.  The entry is not present on a hosting service, but it is present on
            your local machine.  However, the entry can't be duplicated, so in order to have things work on
            your local machine, the duplication is avoided by removing the entry, and then adding it back again.
        -->
        <DbProviderFactories>
            <remove  invariant="Borland.Data.BlackfishSQL.LocalClient" />
            <add name="BlackfishSQL Local Provider" invariant="Borland.Data.BlackfishSQL.LocalClient" description="Provider with inprocess database Server"
                type="Borland.Data.DataStore.DataStoreProviderFactory, Borland.Data.BlackfishSQL.LocalClient, Version=8.0.0.0, Culture=neutral, PublicKeyToken=91d62ebb5b0d1b1b"/>
        </DbProviderFactories>
    </system.data>

    <system.web>

        <!--DYNAMIC DEBUG COMPILATION
            Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
            false will improve runtime performance of this application.
            Set compilation debug="true" to insert debugging symbols (.pdb information)
            into the compiled page. Because this creates a larger file that executes
            more slowly, you should set this value to true only when debugging and to
            false at all other times. For more information, refer to the documentation about
            debugging ASP .NET files.
        -->
        <compilation
            defaultLanguage="c#"
            debug="true"
        />

        <!--CUSTOM ERROR MESSAGES
            Set customError mode values to control the display of user-friendly
            error messages to users instead of error details (including a stack trace):

            "On" Always display custom (friendly) messages
            "Off" Always display detailed ASP.NET error information.
            "RemoteOnly" Display custom (friendly) messages only to users not running
            on the local Web server. This setting is recommended for security purposes, so
            that you do not display application detail information to remote clients.
        -->
        <customErrors
            mode="RemoteOnly"
        />

        <!--AUTHORIZATION
            This section sets the authorization policies of the application. You can allow or deny access
            to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous
            (unauthenticated) users.
        -->

        <authorization>
            <allow users="*" /> <!-- Allow all users -->
            <!--<allow users="[comma separated list of users]"
                       roles="[comma separated list of roles]"/>
                <deny  users="[comma separated list of users]"
                       roles="[comma separated list of roles]"/>
                -->
        </authorization>

        <!--AUTHENTICATION
            This section sets the authentication policies of the application. Possible modes are "Windows", "Forms",
            "Passport" and "None"
        -->
        <authentication
            mode="Forms"
        />

        <!--APPLICATION-LEVEL TRACE LOGGING
            Application-level tracing enables trace log output for every page within an application.
            Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
            trace information will be displayed at the bottom of each page.  Otherwise, you can view the
            application trace log by browsing the "trace.axd" page from your web application
            root.
        -->
        <trace
            enabled="false"
            requestLimit="10"
            pageOutput="false"
            traceMode="SortByTime"
            localOnly="true"
        />

        <!--SESSION STATE SETTINGS
            By default ASP .NET uses cookies to identify which requests belong to a particular session.
            If cookies are not available, a session can be tracked by adding a session identifier to the URL.
            To disable cookies, set sessionState cookieless="true".
        -->
        <sessionState
            mode="InProc"
            stateConnectionString="tcpip=127.0.0.1:42424"
            sqlConnectionString="data source=127.0.0.1;user id=sa;password="
            cookieless="false"
            timeout="20"
        />

        <!--GLOBALIZATION
            This section sets the globalization settings of the application.
        -->
        <globalization
            requestEncoding="utf-8"
            responseEncoding="utf-8"
        />

        <!--ASP.NET PROVIDERS
            The following section registers replacement ASP.Net providers which
            Use BlackfishSQL as the default database.
        -->
        <membership defaultProvider="AspNetAdoMembershipProvider">
            <providers>
                <remove name="AspNetAdoMembershipProvider"/>
                <add name="AspNetAdoMembershipProvider"
                     type="Borland.Web.Security.AdoMembershipProvider, Borland.Web.Provider, Version=11.0.5000.0, Culture=neutral, PublicKeyToken=91d62ebb5b0d1b1b"
                     connectionStringName="BlackfishSQLAspNet"
                     applicationName="/"
                     enablePasswordRetrieval="false"
                     enablePasswordReset="true"
                     requiresQuestionAndAnswer="true"
                     requiresUniqueEmail="false"
                     passwordFormat="Hashed"
                     maxInvalidPasswordAttempts="50"
                     minRequiredPasswordLength="8"
                     minRequiredNonalphanumericCharacters="1"
                     passwordAttemptWindow="10"
                     passwordStrengthRegularExpression=""/>
            </providers>
        </membership>

        <profile defaultProvider="AspNetAdoProfileProvider">
            <providers>
                <remove name="AspNetAdoProfileProvider"/>
                <add name="AspNetAdoProfileProvider"
                     type="Borland.Web.Profile.AdoProfileProvider, Borland.Web.Provider, Version=11.0.5000.0, Culture=neutral, PublicKeyToken=91d62ebb5b0d1b1b"
                     connectionStringName="BlackfishSQLAspNet"
                     applicationName="/"/>
            </providers>
        </profile>

        <roleManager enabled="true" defaultProvider="AspNetAdoRoleProvider">
            <providers>
                <remove name="AspNetAdoRoleProvider"/>
                <add name="AspNetAdoRoleProvider"
                     type="Borland.Web.Security.AdoRoleProvider, Borland.Web.Provider, Version=11.0.5000.0, Culture=neutral, PublicKeyToken=91d62ebb5b0d1b1b"
                     connectionStringName="BlackfishSQLAspNet"
                     applicationName="/"/>
            </providers>
        </roleManager>

    </system.web>
</configuration>
