<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="deviceeditor" name="%extension-point.name.deviceeditor" schema="schema/org_eclipse_mtj_ui_deviceEditor.exsd"/>
   <extension-point id="jadeditorpage" name="%extension-point.name.jadeditorpage" schema="schema/org_eclipse_mtj_ui_jadEditorPages.exsd"/>
   <extension-point id="midlettemplate" name="%extension-point.name.midlettemplate" schema="schema/org_eclipse_mtj_ui_midlettemplate.exsd"/>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%category.j2me.name"
            id="mtj.category">
      </category>
      <wizard
            name="%wizard.newJ2MEProject.label"
            icon="icons/newjprj_wiz_m_sm.gif"
            category="mtj.category"
            class="org.eclipse.mtj.internal.ui.wizards.projects.NewMidletProjectWizard"
            project="true"
            finalPerspective="org.eclipse.mtj.ui.MtjPerspective"
            id="org.eclipse.mtj.ui.wizards.NewJ2MEProjectWizard">
         <description>
            %wizard.newJ2MEProject.description
         </description>
      </wizard>
      <wizard
            name="%wizard.newMidlet.label"
            icon="icons/newclass_wiz_green.gif"
            category="mtj.category"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            id="org.eclipse.mtj.ui.wizards.NewMidletWizard">
         <class class="org.eclipse.mtj.internal.ui.wizards.midlet.NewMidletWizard">
         	<parameter name="javatype" value="true"/>
         </class>
         <description>
            %wizard.newMidlet.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            name="%category.j2me.name"
            id="mtj.category">
      </category>
      <wizard
            name="%importWizards.EclipseMEProject.label"
            icon="icons/importdev_wiz.gif"
            category="mtj.category"            
            class="org.eclipse.mtj.internal.ui.wizards.importer.eclipseme.ImportEclipseMEProjectWizard"
            id="org.eclipse.mtj.ui.wizards.import.EclipseMEProject">
         <description>
            %importWizards.EclipseMEProject.description
         </description>
      </wizard>
      <wizard
            category="mtj.category"
            class="org.eclipse.mtj.internal.ui.wizards.importer.netbeans.ImportNetBeansProjectWizard"
            icon="icons/projects_M.gif"
            id="org.eclipse.mtj.ui.wizards.import.NetBeansProject"
            name="%importWizards.NetBeansProject.label">
         <description>
            %importWizards.NetBeansProject.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%preference.j2me.name"
            class="org.eclipse.mtj.internal.ui.preferences.J2MEPreferencePage"
            id="org.eclipse.mtj.ui.preferences.J2MEPreferencePage">
      </page>
      <page
            name="%preference.j2meDevices.name"
            category="org.eclipse.mtj.ui.preferences.J2MEPreferencePage"
            class="org.eclipse.mtj.internal.ui.preferences.DeviceManagementPreferencePage"
            id="org.eclipse.mtj.ui.preferences.deviceManagementPreferencePage">
      </page>
      <page
            category="org.eclipse.mtj.ui.preferences.J2MEPreferencePage"
            class="org.eclipse.mtj.internal.ui.preferences.SigningPreferencePage"
            id="org.eclipse.mtj.ui.internal.preferences.SigningPreferencePage"
            name="%preference.signing.name">
      </page>
      <page
            name="%preference.j2meProject.name"
            category="org.eclipse.mtj.ui.preferences.J2MEPreferencePage"
            class="org.eclipse.mtj.internal.ui.preferences.NewJ2MEProjectPreferencePage"
            id="org.eclipse.mtj.ui.internal.preferences.NewJ2MEProjectPreferencePage">
      </page>
      <page
      		name="%preference.j2me.packaging.name"
      		category="org.eclipse.mtj.ui.preferences.J2MEPreferencePage"
      		class="org.eclipse.mtj.internal.ui.preferences.PackagingPreferencePage"
      		id="org.eclipse.mtj.ui.preferences.PackagingPreferences" />
       <page
            name="%preference.j2me.preverification.name"
            category="org.eclipse.mtj.ui.preferences.J2MEPreferencePage"
            class="org.eclipse.mtj.internal.ui.preferences.PreverificationPreferencePage"
            id="org.eclipse.mtj.ui.preferences.PreverificationPreferencePage">
      </page>
      <page
            name="%preference.j2meota.name"
            category="org.eclipse.mtj.ui.preferences.J2MEPreferencePage"
            class="org.eclipse.mtj.internal.ui.preferences.J2MEOTAPreferencePage"
            id="org.eclipse.mtj.ui.preferences.J2MEOTAPreferencePage">
      </page>
      <page
            name="%preference.j2meobfuscation.name"
            category="org.eclipse.mtj.ui.preferences.PackagingPreferences"
            class="org.eclipse.mtj.internal.ui.preferences.ObfuscationPreferencePage"
            id="org.eclipse.mtj.ui.preferences.ObfuscationPreferencePage">
      </page>
      <page
            category="org.eclipse.mtj.ui.preferences.J2MEPreferencePage"
            class="org.eclipse.mtj.internal.ui.preferences.EditorPreferencePage"
            id="org.eclipse.mtj.ui.EditorPreferencePage"
            name="%page.name.EditorPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.eclipse.mtj.ui.action.popup.javaProject">
         <filter
               name="projectNature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
         <menu
               label="%menu.project.j2me"
               path="additions"
               id="org.eclipse.mtj.ui.popup.menu">
            <separator
                  name="dummy">
            </separator>
            <separator
                  name="group">
            </separator>
         </menu>
       </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.eclipse.mtj.ui.action.popup.j2meProject">
         <menu
               label="%menu.project.j2me"
               path="additions"
               id="org.eclipse.mtj.ui.popup.menu">
            <separator name="convert" />
            <separator name="package" />
            <separator name="export" />
         </menu>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.eclipse.mtj.ui.action.popup.j2meProject">
         	<visibility>
         		<and>
					<objectState name="nature" value="org.eclipse.mtj.core.nature"/>
					<not>
						<objectState name="nature" value="org.eclipse.mtj.core.preprocessedNature"/>
	   				</not>
	   			</and>
  			</visibility>
         <action
               label="%menu.j2me.createObfuscatedPackage"
               class="org.eclipse.mtj.internal.ui.actions.packaging.CreateObfuscatedPackageAction"
               menubarPath="org.eclipse.mtj.ui.popup.menu/package"
               id="org.eclipse.mtj.ui.actions.createobfuscatedpackage">
         </action>
         <action
               label="%menu.j2me.createPackage"
               class="org.eclipse.mtj.internal.ui.actions.packaging.CreatePackageAction"
               menubarPath="org.eclipse.mtj.ui.popup.menu/package"
               id="org.eclipse.mtj.ui.actions.createpackage">
         </action>
         <action
               label="%menu.j2me.exportAntenna"
               class="org.eclipse.mtj.internal.ui.actions.exporting.AntennaBuildExportAction"
               menubarPath="org.eclipse.mtj.ui.popup.menu/export"
               id="org.eclipse.mtj.ui.actions.antennaexport">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.eclipse.mtj.ui.action.popup.javaProject.convert">
			<visibility>
				<not>
					<objectState name="nature" value="org.eclipse.mtj.core.nature"/>
   				</not>
  			</visibility>
         <action
               label="%menu.j2me.convertProject"
               class="org.eclipse.mtj.internal.ui.actions.ConvertToMidletProjectAction"
               menubarPath="org.eclipse.mtj.ui.popup.menu/convert"
               id="org.eclipse.mtj.ui.actions.convertproject">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.eclipse.mtj.ui.action.popup.project.disablePreprocessing">
			<visibility>
				<and>
					<objectState name="nature" value="org.eclipse.mtj.core.nature"/>
					<objectState name="nature" value="org.eclipse.mtj.core.preprocessingNature"/>					
	   			</and>
  			</visibility>
         <action
               label="%action.label.DisablePreprocessing"
               class="org.eclipse.mtj.internal.ui.actions.preprocessing.DisablePreprocessingAction"
               menubarPath="org.eclipse.mtj.ui.popup.menu/convert"
               id="org.eclipse.mtj.ui.actions.disablepreprocessing">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.eclipse.mtj.ui.action.popup.project.enablePreprocessing">
			<visibility>
				<and>
					<objectState name="nature" value="org.eclipse.mtj.core.nature"/>
					<not>
						<objectState name="nature" value="org.eclipse.mtj.core.preprocessingNature"/>					
	   				</not>
	   			</and>
  			</visibility>
         <action
               label="%action.label.EnablePreprocessing"
               class="org.eclipse.mtj.internal.ui.actions.preprocessing.EnablePreprocessingAction"
               menubarPath="org.eclipse.mtj.ui.popup.menu/convert"
               id="org.eclipse.mtj.ui.actions.enablepreprocessing">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.mtj.ui.action.popup.project.enableL10n"
            objectClass="org.eclipse.core.resources.IProject">
         <visibility>
            <and>
               <objectState
                     name="nature"
                     value="org.eclipse.mtj.core.nature">
               </objectState>
               <not>
                  <objectState
                        name="nature"
                        value="org.eclipse.mtj.core.l10nNature">
                  </objectState>
               </not>
            </and>
         </visibility>
         <action
               class="org.eclipse.mtj.internal.ui.actions.l10n.EnableLocalizationAction"
               id="org.eclipse.mtj.ui.actions.enableL10n"
               label="%action.label.Enablel10n"
               menubarPath="org.eclipse.mtj.ui.popup.menu/convert">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.mtj.ui.action.popup.project.disableL10n"
            objectClass="org.eclipse.core.resources.IProject">
         <visibility>
            <and>
               <objectState
                     name="nature"
                     value="org.eclipse.mtj.core.nature">
               </objectState>
               <objectState
                     name="nature"
                     value="org.eclipse.mtj.core.l10nNature">
               </objectState>
            </and>
         </visibility>
         <action
               class="org.eclipse.mtj.internal.ui.actions.l10n.DisableLocalizationAction"
               id="org.eclipse.mtj.ui.actions.disableL10n"
               label="%action.label.disablel10n"
               menubarPath="org.eclipse.mtj.ui.popup.menu/externalizeGroup">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.mtj.ui.localize.strings.classes"
            objectClass="org.eclipse.jdt.core.ICompilationUnit">
         <action
               class="org.eclipse.mtj.internal.ui.actions.l10n.LocalizeStringsAction"
               id="org.eclipse.mtj.ui.source.localize.string.action"
               label="%action.label"
               menubarPath="org.eclipse.jdt.ui.source.menu/externalizeGroup">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.mtj.ui.localize.strings.packages"
            objectClass="org.eclipse.jdt.core.IPackageFragment">
         <action
               class="org.eclipse.mtj.internal.ui.actions.l10n.LocalizeStringsAction"
               id="org.eclipse.mtj.ui.source.localize.string.action"
               label="%action.label"
               menubarPath="org.eclipse.jdt.ui.source.menu/externalizeGroup">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.mtj.ui.localize.strings.sources"
            objectClass="org.eclipse.jdt.core.IPackageFragmentRoot">
         <action
               class="org.eclipse.mtj.internal.ui.actions.l10n.LocalizeStringsAction"
               id="org.eclipse.mtj.ui.source.localize.string.action"
               label="%action.label"
               menubarPath="org.eclipse.jdt.ui.source.menu/externalizeGroup">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.mtj.ui.localize.strings.project"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <action
               class="org.eclipse.mtj.internal.ui.actions.l10n.LocalizeStringsAction"
               id="org.eclipse.mtj.ui.source.localize.string.action"
               label="%action.label"
               menubarPath="org.eclipse.jdt.ui.source.menu/externalizeGroup">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="org.eclipse.mtj.ui.editors"
         name="%page.name.EditorPreferencePage"
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.mtj.internal.ui.editors.jad.form.JADFormEditor"
            contributorClass="org.eclipse.mtj.internal.ui.editors.jad.source.JADMultiPageEditorActionContributor"
            default="true"
            filenames="Application Descriptor"
            icon="icons/newjprj_wiz_m_sm.gif"
            id="org.eclipse.mtj.ui.editor.JadEditor"
            name="%editor.jad">
      </editor>
      <editor
            class="org.eclipse.mtj.internal.ui.editors.jad.source.JADSourceEditor"
            contributorClass="org.eclipse.mtj.internal.ui.editors.jad.source.JADSourceEditorActionContributor"
            default="true"
            extensions="jad"
            icon="icons/page_obj.gif"
            id="org.eclipse.mtj.ui.editor.JadSourceEditor"
            name="%editor.jad">
      </editor>
      <editor
            class="org.eclipse.mtj.internal.ui.editors.l10n.LocalizationDataEditor"
            contributorClass="org.eclipse.mtj.internal.ui.editors.l10n.L10nEditorContributor"
            default="true"
            icon="icons/full/obj16/locales_obj.gif"
            id="org.eclipse.mtj.ui.editor.LocalizationDataEditor"
            name="%editor.name.LocalizationDataEditor">
         <contentTypeBinding
               contentTypeId="org.eclipse.mtj.core.localizationData">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.eclipse.mtj.internal.ui.editors.build.BuildPropertiesEditor"
            default="true"
            filenames="build.properties"
            icon="icons/full/etool16/build_properties.gif"
            id="org.eclipse.mtj.ui.editor.BuildProperties"
            name="%buildEditor">
      </editor>
   </extension>
   <extension
         id="org.eclipse.mtj.launching.launchConfigTabGroups"
         name="Launch Config Tab Groups"
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.mtj.internal.ui.launching.ToolkitEmulatorTabGroup"
            description="%launch.configuration.description"
            id="toolkitEmulatorTabGroup"
            type="MTJ.emulatorLaunchConfigurationType">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="org.eclipse.mtj.internal.ui.configurations.JMUnitLaunchConfigurationTabGroup"
            id="JMUnitTestTabGroup"
            type="MTJ.JMUnitLaunchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/full/obj16/cellphone_icon.gif"
            configTypeID="MTJ.emulatorLaunchConfigurationType"
            id="MTJ.emulatorLaunchConfigTypeImage">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="MTJ.JMUnitLaunchConfigurationType"
            icon="icons/full/obj16/cellphone_icon.gif"
            id="MTJ.JMUnitLaunchConfigurationImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         id="org.eclipse.mtj.ui.propertyPages"
         name="%extension.name.property"
         point="org.eclipse.ui.propertyPages">
      <page
            name="%category.j2me.name"
            class="org.eclipse.mtj.internal.ui.properties.J2MEProjectPropertiesPage"
            id="org.eclipse.mtj.project.J2MEPropertiesPage">
         <filter
               name="projectNature"
               value="org.eclipse.mtj.core.nature">
         </filter>
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
      <page category="org.eclipse.mtj.project.J2MEPropertiesPage"
            class="org.eclipse.mtj.internal.ui.properties.SigningPropertiesPage"
            id="org.eclipse.mtj.project.J2MESigningPropertiesPage"
            name="%category.j2me.signing.name">
         <filter
               name="projectNature"
               value="org.eclipse.mtj.core.nature">
         </filter>
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
      <page category="org.eclipse.mtj.project.J2MEPropertiesPage"
            class="org.eclipse.mtj.internal.ui.properties.ProjectPackagingPropertiesPage"
            id="org.eclipse.mtj.project.ProjectPackagingPropertiesPage"
            name="%properties.packaging.name">
         <filter
               name="projectNature"
               value="org.eclipse.mtj.core.nature">
         </filter>
                  <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
      <page category="org.eclipse.mtj.project.J2MEPropertiesPage"
            class="org.eclipse.mtj.internal.ui.properties.ProjectObfuscationPropertiesPage"
            id="org.eclipse.mtj.project.ProjectObfuscationPropertiesPage"
            name="%properties.obfuscation.name">
         <filter
               name="projectNature"
               value="org.eclipse.mtj.core.nature">
         </filter>
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
      <page category="org.eclipse.mtj.project.J2MEPropertiesPage"
            class="org.eclipse.mtj.internal.ui.properties.ProjectPreverificationPropertiesPage"
            id="org.eclipse.mtj.project.ProjectPreverificationPropertiesPage"
            name="%properties.preverification.name">
         <filter
               name="projectNature"
               value="org.eclipse.mtj.core.nature">
         </filter>
                  <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="org.eclipse.mtj.project.J2MEPropertiesPage"
            class="org.eclipse.mtj.internal.ui.properties.LibraryPropertyPage"
            id="org.eclipse.mtj.ui.internal.properties.LibraryPropertyPage"
            name="%page.name.LibraryPropertyPage">
         <filter
               name="projectNature"
               value="org.eclipse.mtj.core.nature">
         </filter>
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="org.eclipse.mtj.project.J2MEPropertiesPage"
            class="org.eclipse.mtj.internal.ui.properties.PreprocessorPropertyPage"
            id="org.eclipse.mtj.ui.internal.properties.PreprocessorPropertyPage"
            name="%page.name.PreprocessorPropertyPage">
         <filter
               name="projectNature"
               value="org.eclipse.mtj.core.nature">
         </filter>
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.mtj.internal.ui.launching.MidletLaunchShortcut"
            icon="icons/full/obj16/cellphone_icon.gif"
            id="org.eclipse.mtj.launchShortcuts"
            label="%launch.emulator.shortcut"
            modes="run,debug">
            
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1" />
               		<iterate>
		             <and>
		               <adapt type="org.eclipse.jdt.core.IJavaElement">
		                 <test property="org.eclipse.jdt.launching.hasProjectNature" args="org.eclipse.mtj.core.nature"/>
		               </adapt>
		               <or>
		                 <test property="org.eclipse.jdt.launching.extendsClass" args="javax.microedition.midlet.MIDlet"/>
		               	 <test property="org.eclipse.jdt.launching.isContainer"/>
		               	 <test property="org.eclipse.jdt.launching.isPackageFragment"/>
		               	 <test property="org.eclipse.jdt.launching.isPackageFragmentRoot"/>
		               </or>
		             </and>
               		</iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <description
               description="%launch.emulator.shortcut.description"
               mode="run">
         </description>
         <description
               description="%debug.emulator.shortcut.description"
               mode="debug">
         </description>
      </shortcut>
      <shortcut
            label="%launch.emulator.shortcut.jad"
            icon="icons/full/obj16/cellphone_icon.gif"
            modes="run,debug"
            class="org.eclipse.mtj.internal.ui.launching.JadLaunchShortcut"
            id="org.eclipse.mtj.jadLaunchShortcuts">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1" />
               		<iterate>
		             <or>
		              <adapt type="org.eclipse.core.resources.IFile">
		                  <and>
			                 <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.mtj.core.nature"/>
			                 <test property="org.eclipse.core.resources.name" value="Application Descriptor"/>
		                  </and>
		              </adapt>
			          <adapt type="org.eclipse.core.resources.IProject">
			          	<test property="org.eclipse.core.resources.projectNature" value="org.eclipse.mtj.core.nature"/>
			          </adapt>
		             </or>
               	    </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <description
               description="%launch.emulator.shortcut.jad.description"
               mode="run">
         </description>
         <description
               description="%debug.emulator.shortcut.jad.description"
               mode="debug">
         </description>
         
      </shortcut>
      <shortcut
            class="org.eclipse.mtj.internal.ui.launching.OTALaunchShortcut"
            icon="icons/full/obj16/cellphone_icon.gif"
            id="org.eclipse.mtj.OTALaunchShortcuts"
            label="%launch.emulator.shortcut.OTA"
            modes="run,debug">
      </shortcut>
   </extension>
	 <extension
	       point="org.eclipse.debug.core.statusHandlers">
	    <statusHandler
	          code="100"
	          class="org.eclipse.mtj.internal.ui.statusHandlers.OTANoMidletsHandler"
	          id="org.eclipse.mtj.statusHandler.otaNoMidlets"
	          plugin="org.eclipse.mtj.core"/>
	    <statusHandler
	          code="101"
	          class="org.eclipse.mtj.internal.ui.statusHandlers.ObfuscationErrorHandler"
	          id="org.eclipse.mtj.statusHandler.ObfuscationErrorHandler"
	          plugin="org.eclipse.mtj.core"/>
	    <statusHandler
	          code="102"
	          class="org.eclipse.mtj.internal.ui.statusHandlers.CouldNotFindJarToolHandler"
	          id="org.eclipse.mtj.statusHandler.CouldNotFindJarToolHandler"
	          plugin="org.eclipse.mtj.core"/>
        <statusHandler
              code="103"
              class="org.eclipse.mtj.internal.ui.statusHandlers.SignaturePasswordHandler"
              id="org.eclipse.mtj.statusHandler.SignaturePasswordHandler"
              plugin="org.eclipse.mtj.core"/>
           
       <statusHandler
	          code="104"
	          class="org.eclipse.mtj.internal.ui.statusHandlers.DebuggerSettingCheckHandler"
	          id="org.eclipse.mtj.statusHandler.DebuggerSettingCheckHandler"
	          plugin="org.eclipse.mtj.core"/>
	 </extension>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.eclipse.mtj.internal.ui.MTJUIPreferenceInitializer"/>
	</extension>
	<extension point="org.eclipse.help.contexts" >
		<contexts	file="contextHelp.xml"
					plugin="org.eclipse.mtj.ui" />
	</extension>
    <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%preference.j2mesymbols.name"
            category="org.eclipse.mtj.ui.preferences.PreprocessPreferencePage"
            class="org.eclipse.mtj.internal.ui.preferences.SymbolDefinitionsPreferencePage"
            id="org.eclipse.mtj.ui.preferences.symbolDefinitionsPreferencePage">
      </page>
      <page
            name="%preference.j2me.preprocess.name"
            category="org.eclipse.mtj.ui.preferences.J2MEPreferencePage"
            class="org.eclipse.mtj.internal.ui.preferences.PreprocessPreferencePage"
            id="org.eclipse.mtj.ui.preferences.PreprocessPreferencePage">
      </page>
      <page
            name="%preference.j2me.preprocess.template.name"
            category="org.eclipse.mtj.ui.preferences.PreprocessPreferencePage"
            class="org.eclipse.mtj.internal.ui.preferences.PreprocessTemplatePreferencePage"
            id="org.eclipse.mtj.ui.preferences.TemplatesPreferencePage">
      </page>
   </extension>
    <extension
          point="org.eclipse.ui.console.consoleFactories">
       <consoleFactory
             class="org.eclipse.mtj.internal.ui.console.BuilderConsoleFactory"
             label="%consoleFactory.label.BuilderConsoleFactory">
       </consoleFactory>
    </extension>
    <extension
          point="org.eclipse.ui.perspectives">
       <perspective
             class="org.eclipse.mtj.internal.ui.MtjPerspectiveFactory"
             icon="icons/full/obj16/cellphone_icon.gif"
             id="org.eclipse.mtj.ui.MtjPerspective"
             name="%mtjPerspectiveName">
          <description>
             %mtj.perspective.description
          </description>
       </perspective>
    </extension>
    
     <extension point="org.eclipse.mtj.ui.jadeditorpage">
       <jadEditorPage 
       		class="org.eclipse.mtj.internal.ui.editors.jad.form.pages.MidletsEditorPage"
       		priority="-30"/>
       <jadEditorPage 
       		class="org.eclipse.mtj.internal.ui.editors.jad.form.pages.JADOptionalPropertiesEditorPage"
       		priority="-20"/>
       <jadEditorPage 
       		class="org.eclipse.mtj.internal.ui.editors.jad.form.pages.JADUserDefinedPropertiesEditorPage"
       		priority="-10"/>
    </extension>
     <extension
           id="org.eclipse.mtj.ui.devicematcher"
           point="org.eclipse.mtj.core.devicematcher">
        <matcher
              class="org.eclipse.mtj.internal.ui.DeviceMatcher"
              id="org.eclipse.mtj.ui.devicematcher"
              priority="50">
        </matcher>
     </extension>
    
    <extension
          point="org.eclipse.mtj.core.jadattributes">
       <jadAttributes pageID="overview">
       		<jadDescriptorsProvider
       			class="org.eclipse.mtj.internal.ui.editors.jad.form.pages.RequiredJADDesciptorsProvider"/>
       </jadAttributes>
    </extension>
    
    <extension
          point="org.eclipse.mtj.core.jadattributes">
       <jadAttributes pageID="optional.ota">
       		<jadDescriptorsProvider
       			class="org.eclipse.mtj.internal.ui.editors.jad.form.pages.OTAJADDescriptorsProvider"/>
       </jadAttributes>
    </extension>
    
    <extension
          point="org.eclipse.mtj.core.jadattributes">
       <jadAttributes pageID="optional.optional">
       		<jadDescriptorsProvider
       			class="org.eclipse.mtj.internal.ui.editors.jad.form.pages.OptionalJADDescriptorsProvider"/>
       </jadAttributes>
    </extension>
    <extension
          point="org.eclipse.ui.ide.markerResolution">
       <markerResolutionGenerator
             class="org.eclipse.mtj.internal.ui.markers.MissingDeviceMarkerResolutionGenerator"
             markerType="org.eclipse.mtj.core.device.missing">
       </markerResolutionGenerator>
    </extension>
    
    
 <!-- =================================================================================== -->
<!-- Extension: Java Completion Proposal Computer                                        -->
<!-- =================================================================================== --> 
   <extension
		point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
		id="preprocessProposalCategory"
		name="%extension.name.preprocessproposal">
		<proposalCategory
			icon="$nl$/icons/full/obj16/cellphone_icon.gif"/>
	</extension>
	 
  <extension
		point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
		id="PreprocessCompletionProposalComputer">
		<javaCompletionProposalComputer
			class="org.eclipse.mtj.internal.ui.preprocess.contentAssistant.PreprocessProposalComputer"
			categoryId="org.eclipse.mtj.ui.preprocessProposalCategory">
			<partition type="__java_singleline_comment"/>
		</javaCompletionProposalComputer>
	</extension>
    
    <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            name="%contextType.name.templates"
            class="org.eclipse.mtj.internal.ui.preprocess.contentAssistant.template.PreprocessTemplateContextType"
            id="org.eclipse.mtj.preprocess">
      </contextType>
     
      <include
      		file="templates/preprocess-templates.xml">
      </include>
     </extension>
    <extension
          point="org.eclipse.debug.ui.consoleLineTrackers">
          <consoleLineTracker 
			id="org.eclipse.mtj.ui.internal.launching.MTJConsoleLineTracker"
			class="org.eclipse.mtj.internal.ui.launching.MTJConsoleLineTracker"
			processType="MTJProcess">
		</consoleLineTracker>
    </extension>
    <extension     point="org.eclipse.ui.elementFactories">
         <factory
               class="org.eclipse.mtj.internal.ui.editor.SystemFileEditorInputFactory"
               id="org.eclipse.mtj.ui.systemFileEditorInputFactory">
         </factory>
   </extension>
      <extension
            point="org.eclipse.core.filebuffers.annotationModelCreation">
         <factory
               class="org.eclipse.mtj.internal.ui.editor.text.AnnotationModelFactory"
               contentTypeId="org.eclipse.mtj.core.localizationData">
         </factory>
      </extension>
      <extension
            point="org.eclipse.ui.contexts">
         <context
               id="org.eclipse.mtj.ui.mtjEditorContext"
               name="%context.name.mtjEditorContext"
               parentId="org.eclipse.ui.textEditorScope">
         </context>
      </extension>
      <extension
            point="org.eclipse.ui.commands">
         <command
               categoryId="org.eclipse.ui.category.navigate"
               description="%command.description.quickOutline"
               id="org.eclipse.mtj.ui.quickOutline"
               name="%command.name.quickOutline">
         </command>
      </extension>
      <extension
            point="org.eclipse.ui.activities">
         <activity
               description="%activity.description.javame"
               id="org.eclipse.mtj.ui.capabilities.activity"
               name="%activity.name.javame">
         </activity>
         <categoryActivityBinding
               activityId="org.eclipse.mtj.ui.capabilities.activity"
               categoryId="org.eclipse.categories.developmentCategory">
         </categoryActivityBinding>
         <defaultEnablement
               id="org.eclipse.mtj.ui.capabilities.activity">
         </defaultEnablement>
         <activityPatternBinding
               activityId="org.eclipse.mtj.ui.capabilities.activity"
               pattern="org\.eclipse\.mtj\..*/.*">
         </activityPatternBinding>
      </extension>
      <extension
            point="org.eclipse.ui.intro.configExtension">
         <configExtension
               configId="org.eclipse.ui.intro.universalConfig"
               content="intro/sample.xml">
         </configExtension>
      </extension>
 </plugin>
